.news-con{
  background-color: rgba(77, 72, 72, 0);
  backdrop-filter: blur(200px);
  margin: 0 auto;
  width: 20%;
  height: 60%;
  padding-bottom: 10%;
  
 

  .image-container{
    width: 100%;
    height: 25vh;
    background-size: cover;
    border-radius: 2%;
    background-position: center;
  }

  .news-txt-container{
    color: rgba(255, 255, 255, 0.87);
  }
}

.mint-btn{
  background-color: #dddddd;
  width: fit-content;
  height: fit-content;
  padding: 9px 22px;
  font-weight: bold;
  color:#030303;
  border-radius: 10px;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: #dddddd;  
  
  a:link{
    color: #030303;
  }

}



.mint-btn:hover{
  cursor: pointer;
  
}

.button {
  scale: (1.2);
  position: absolute;
  left: 2%;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.main-ui {
 background-color: rgba(13, 97, 97, 0.041);
 position: absolute;
 border-radius: 10px;
 backdrop-filter: blur(30px);
 height: 80vh;
 width: 50vw;
 bottom:10vh;
 left: 1%;
}

  
.tag{
  color: rgb(238, 237, 237);
  background-color: rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  text-transform: uppercase;
  backdrop-filter: blur(20px);
  padding: 10px;
}

.stats{
  position: absolute;
  right: 10%;
  top: 25vh;
  color: aliceblue;
}

.storage{
  display: flex;
  flex-wrap: wrap;
}
.storage-item{
  background-color:rgba(161, 188, 247, 0.15);
  width: 23%;
  margin: 1%;
  border-radius: 10px;
  backdrop-filter: blur(5px);

  img{
    margin: auto 0;
  }

  h2{
    background-color: #03030385;
    color: antiquewhite;
    text-align: center;
  }
}

.storage-item :hover{
  scale: (.5);
}

.news-carousel{
  background-position: bottom;
  background-size: contain;
}