.news-con{
  background-color: rgba(77, 72, 72, 0);
  backdrop-filter: blur(200px);
  margin: 0 auto;
  width: 20%;
  height: 60%;
  padding-bottom: 10%;
  
 

  .image-container{
    width: 100%;
    height: 25vh;
    background-size: cover;
    border-radius: 2%;
    background-position: center;
  }

  .news-txt-container{
    color: rgba(255, 255, 255, 0.87);
  }
}

.mint-btn{
  background-color: #dddddd;
  width: fit-content;
  height: fit-content;
  padding: 9px 22px;
  font-weight: bold;
  color:#030303;
  border-radius: 10px;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: #dddddd;


  
}

.mint-btn:hover{
  cursor: pointer;
  
}

.button {
  scale: (1.2);
  position: absolute;
  left: 2%;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


